:root{
    --bg-color:white;
    --text-color:black;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial,sans-serif;
}
.container{
    text-align: center;
    margin-top: 50px;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
}

.dark-mode{
    --bg-color:black;
    --text-color:white;
}